BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
A:link {
	COLOR: #0066cc
}
A:hover {
	COLOR: #cc0000
}
A:visited {
	COLOR: #663399
}
INPUT {
	FONT-SIZE: 13px
}
.clsAdultIntro {
	FONT-SIZE: 13px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal
}
.clsAdultDesc {
	FONT-SIZE: 13px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal
}
.clsSTWF {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A.clsBuyMusic {
	FONT-WEIGHT: bold
}
A.clsAlbumLink {
	COLOR: #000000; FONT-SIZE: 11px
}
.EQR {
	FONT-SIZE: 11px
}
A.EQRALL {
	FONT-SIZE: 12px
}
.pstTextColor {
	COLOR: #0066cc
}
need these FONT specs for Nav* OL {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px
}
LI {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px
}
UL {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 20px; MARGIN-TOP: 0px
}
.clsLeft {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; MARGIN-TOP: 0px
}
.clsHSDesc {
	COLOR: #000000; FONT-SIZE: 13px
}
A.clsHSTitleLink {
	FONT-WEIGHT: bold
}
A.clsHSLink {
	FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal
}
.clsMusicByLogo {
	BACKGROUND-COLOR: white
}
.clsEncDesc {
	COLOR: #000000
}
.clsEncList {
	COLOR: #666666
}
A.clsEncLink {
	FONT-WEIGHT: bold
}
.clsEncRelLink {
	
}
A.clsSpellingCorrected {
	
}
.clsSpellingCorrected {
	COLOR: #0066cc
}
.clsResultSectionName {
	COLOR: #666666; FONT-SIZE: 10px
}
A.clsPLinkWithQ {
	FONT-WEIGHT: bold
}
A.clsSPPLinkWithQ {
	COLOR: #009900; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.clsSPPLinkQTerm {
	COLOR: #000000
}
.clsPLink2QTerm {
	COLOR: red
}
.clsSrvcSection {
	COLOR: #000000; FONT-SIZE: 11px
}
.clsSrvcSectionAboutLink {
	FONT-SIZE: 11px
}
.clsResultSectionEmpty {
	COLOR: #313131
}
.clsCatParent {
	FONT-WEIGHT: bold
}
A.clsCatChild {
	COLOR: #000000
}
.clsCatSelf {
	COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
A.clsCatSelf {
	COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
A.clsCatChildren {
	COLOR: #000000
}
A.clsHelpLink {
	COLOR: #ff3300
}
.clsInfoLine {
	COLOR: #000000
}
.clsInfoLineTip {
	COLOR: #ff0000; FONT-SIZE: 10px
}
.clsPreference {
	COLOR: #000000
}
TABLE.stdTable {
	FONT-SIZE: 11px
}
.menuBar {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.menuLinks:link {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.menuLinks:visited {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.menuLinks:hover {
	COLOR: #ffff99
}
A.menuLinks:hover {
	COLOR: #ffff99
}
.menuGrayLinks {
	COLOR: #666666; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.menuGrayLinks:hover {
	COLOR: #666666; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.menuGrayLinks:visited {
	COLOR: #666666; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.clsAddUrl {
	COLOR: #0066cc; FONT-SIZE: 11px
}
A.clsAddUrl:hover {
	COLOR: #cc0000
}
A.clsSrvcLink {
	COLOR: #0066cc; FONT-WEIGHT: bold
}
.clsSearchLine {
	COLOR: #0066cc; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.std90percent {
	FONT-SIZE: 13px
}
A.ShowHide:hover {
	COLOR: #ff3300
}
.ShowHide {
	COLOR: #0033ff; FONT-SIZE: 11px
}
.errorMessages {
	COLOR: #000000; FONT-SIZE: 14px
}
A.clsRelatedLinks:hover {
	COLOR: #cc0000
}
A.clsRelatedLinks:visited {
	COLOR: #663399
}
A.clsSrvcLink:hover {
	COLOR: #cc0000
}
A.clsSrvcLink:visited {
	COLOR: #663399
}
.clsSrvcDesc {
	
}
SPAN.clsResultAb {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 12px
}
SPAN.clsResultAbHidden {
	COLOR: #000000; DISPLAY: none; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal
}
A.clsResultTitle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
A.clsBroadenTitle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.clsResultNumber {
	COLOR: #999999
}
SPAN.clsResultURL {
	COLOR: #666666; FONT-STYLE: italic
}
SPAN.clsURLLink {
	COLOR: #000000; FONT-SIZE: 11px
}
A.clsURLLink {
	COLOR: #0066cc; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
A.clsURLLink:hover {
	COLOR: #cc0000
}
A.clsURLLink:visited {
	COLOR: #663399
}
TABLE.ResultsTop {
	COLOR: #000000; FONT-SIZE: 11px
}
.clsNextPrev {
	FONT-SIZE: 10px
}
.clsGrayedOut {
	COLOR: #666666; FONT-SIZE: 11px
}
.FeatureList {
	COLOR: #000000
}
.clsUDoText {
	COLOR: #666666; FONT-SIZE: 11px
}
.LeftNav {
	COLOR: #ffffff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.LeftNav:link {
	COLOR: #ffffff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.LeftNav:hover {
	COLOR: #ff0000
}
A.LeftNav:active {
	COLOR: #ffffff
}
A.LeftNav:visited {
	COLOR: #ffffff
}
A.LeftNav:hover {
	COLOR: #ff0000
}
.LeftNavActive {
	COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.clsTryText {
	COLOR: #666666; FONT-SIZE: 11px
}
A.clsTryYahoo:hover {
	COLOR: #666666
}
A.clsTryYahoo:active {
	COLOR: #000000
}
.clsTryYahoo {
	COLOR: #666666; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.LeftNavPromo {
	COLOR: #ffffff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.clsPromo {
	COLOR: #ffffff; FONT-SIZE: 11px
}
A.clsPromo:visited {
	COLOR: #dddddd
}
A.clsPromo:hover {
	COLOR: #ff3300
}
.clsLeftNavAd {
	FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.clsLeftNavAd2 {
	FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.clsLeftNavMiniAd {
	
}
.clsLeftNavMiniAd2 {
	
}
.LeftNavPPText {
	COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.LeftNavPPLink {
	COLOR: #ffffff; FONT-SIZE: 11px
}
.clsLeftNavAdLink {
	FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.clsLeftNavAdLinkTerm {
	FONT-WEIGHT: bold
}
A.clsLeftNavAdLinkTerm {
	FONT-WEIGHT: bold
}
.clsLeftNavAd2LinkTerm {
	FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.wwtext {
	COLOR: #000000
}
.wwtitle {
	COLOR: #003399
}
A.wwlink {
	COLOR: #003399
}
.clsSearchClipTitle {
	FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.clsSearchClipText {
	
}
.clsSearchClipTextSmall {
	
}
A.clsSearchClip {
	COLOR: #0066cc
}
A.clsSearchClip:hover {
	COLOR: #cc0000
}
A.clsSearchClip:visited {
	COLOR: #663399
}
A.tL {
	COLOR: #000000
}
A.tL:hover {
	COLOR: #ff3300
}
A.tL:active {
	COLOR: #000000
}
A.tL:visited {
	COLOR: #000000
}
A.tL:hover {
	COLOR: #ff3300
}
.t {
	COLOR: #ffffff; FONT-SIZE: small; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.tS {
	COLOR: #ffffff; FONT-SIZE: small; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A.tsL:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.tsL:active {
	COLOR: #cc9900
}
A.tsL:visited {
	COLOR: #cc9900
}
A.tsL:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.iL {
	FONT-SIZE: 13px
}
.mediaResults {
	FONT-WEIGHT: bold
}
.mediaListHead {
	FONT-WEIGHT: bold
}
A.mediaListing {
	FONT-SIZE: 11px
}
.clsPartnerLink {
	COLOR: #009900; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.dnsHead {
	FONT-SIZE: 18px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal
}
.dnsHeadHighlight {
	COLOR: #0066cc
}
.dnsBold {
	FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.dnsBoldHighlight {
	COLOR: #0066cc
}
.dnsDisc {
	FONT-SIZE: 11px
}
.dnsCorrectSpelling {
	FONT-SIZE: 11px
}
.rule {
	MARGIN-BOTTOM: 5px; MARGIN-TOP: 10px
}
A.dnsAboutLink:link {
	COLOR: #0066cc; FONT-SIZE: 10px
}
A.dnsAboutLink:hover {
	COLOR: #cc0000; FONT-SIZE: 10px
}
A.dnsAboutLink:visited {
	COLOR: #663399; FONT-SIZE: 10px
}
.clsWWPTitle {
	COLOR: #000000; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.clsWWPDesc {
	COLOR: #000000; FONT-SIZE: 13px
}
.clsWWPSubtitle {
	COLOR: #000000; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.clsSearchclipSTWF {
	FONT-SIZE: 13px
}
.clsResultsInfo {
	COLOR: #999999; FONT-FAMILY: Verdana; FONT-SIZE: 11px
}
.clsResultsInfoQ {
	COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.catadBordercolor {
	BACKGROUND-COLOR: #cbe4fe
}
.catadFillcolor {
	BACKGROUND-COLOR: #ffffff
}
.copyright {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.copyrightlink:link {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.copyrightlink:visited {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.copyrightlink:hover {
	COLOR: #ffff99
}
A.copyrightlink:hover {
	COLOR: #ffff99
}
.copyrightsp {
	COLOR: #666666; FONT-FAMILY: Tahoma; FONT-SIZE: 10px
}
A.copyrightlinksp {
	COLOR: #666666; FONT-FAMILY: Tahoma; FONT-SIZE: 10px
}
A.copyrightlinksp:visited {
	COLOR: #666666; FONT-FAMILY: Tahoma; FONT-SIZE: 10px
}
A.copyrightlinksp:hover {
	COLOR: #cc0000
}
A.copyrightlinksp:hover {
	COLOR: #cc0000
}
.copyrightdns {
	COLOR: #999999; FONT-FAMILY: Tahoma; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.copyrightlinkdns {
	COLOR: #999999; FONT-FAMILY: Tahoma; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.copyrightlinkdns:visited {
	COLOR: #999999; FONT-FAMILY: Tahoma; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.copyrightlinkdns:hover {
	TEXT-DECORATION: underline
}
A.copyrightlinkdns:hover {
	TEXT-DECORATION: underline
}
.tblHighlightColor {
	BACKGROUND-COLOR: #cce5ff
}
.tblAccentColor {
	BACKGROUND-COLOR: #0066cc
}
.tblShellColor {
	BACKGROUND-COLOR: #003399
}
.tblMenuColor {
	BACKGROUND-COLOR: #66a6e5
}
.tblBrowseColor {
	BACKGROUND-COLOR: #e5ffe5
}
.tblSidebarColor {
	BACKGROUND-COLOR: #003399; bgcolor: #003399
}
.logotext {
	COLOR: #cccccc; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.splPStyle1 {
	MARGIN-BOTTOM: 3px; MARGIN-LEFT: 0px; MARGIN-TOP: 0px
}
.splPStyle2 {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; MARGIN-TOP: 0px
}
.big7Links:link {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.big7Links:visited {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.big7Links:hover {
	COLOR: #ffff99
}
.big7AccentLinks:hover {
	COLOR: #ffff99
}
.big7AccentLinks:link {
	COLOR: #ffff99; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.big7AccentLinks:visited {
	COLOR: #ffff99; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.SrchResourcesTitle {
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.searchModeLinks:link {
	COLOR: #009900
}
.searchModeDeactLinks {
	COLOR: #006600; FONT-WEIGHT: bold
}
.searchModeBar {
	COLOR: #999999
}
.SpellingCorrection {
	COLOR: #000066; FONT-FAMILY: Tahoma; FONT-SIZE: 11px
}
.qform {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 19px; MARGIN-RIGHT: -14px; PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 0px
}
.submitbutton {
	MARGIN-BOTTOM: -4px; MARGIN-LEFT: -20px
}
.dnsHead {
	FONT: bold 18px Arial
}
.dnsHeadHighlight {
	COLOR: #0066cc
}
.dnsBold {
	FONT: bold 11px Verdana
}
.dnsBoldHighlight {
	COLOR: #0066cc
}
.dnsDisc {
	FONT: 11px Verdana
}
.dnsCorrectSpelling {
	FONT: italic 11px Verdana
}
.rule {
	MARGIN-BOTTOM: 5px; MARGIN-TOP: 10px
}
.dnsBody {
	FONT-FAMILY: Tahoma
}
.dnsUl {
	FONT-FAMILY: Tahoma; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 30px; MARGIN-TOP: 0px
}
.dnsForm {
	MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dnsQform {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: -20px; PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.gotoResult {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: -22px
}
.top3LinksTitle {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.top3Links:link {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.top3Links:visited {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.top3Links:hover {
	COLOR: #ffff99
}
.SrchResourcesSect1Links {
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.SrchResourcesSect1Links:hover {
	TEXT-DECORATION: underline
}
.SrchResourcesSect2Links {
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px
}
.clsPrevTitle {
	FONT-WEIGHT: bold
}
.clsPrevText {
	
}
.clsPrevCode {
	COLOR: #666666
}
.expediaCity:link {
	COLOR: #000000
}
