BODY {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.Link {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000060
}
TD.Archive {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-SIZE: 48px; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	COLOR: #ffffff
}
A:hover {
	COLOR: #ffd800
}
A.Headline {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.Headline:hover {
	FONT-WEIGHT: bold; COLOR: #ffd800; TEXT-DECORATION: underline
}
A.Menu {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.Menu:hover {
	FONT-WEIGHT: bold; COLOR: #ffd800; TEXT-DECORATION: underline
}
A.More {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-STYLE: italic; TEXT-DECORATION: none
}
A.More:hover {
	FONT-WEIGHT: bold; COLOR: #ffd800; FONT-STYLE: italic; TEXT-DECORATION: underline
}
A.Article {
	COLOR: #00c0ff; TEXT-DECORATION: none
}
A.Article:hover {
	COLOR: #ffd800; TEXT-DECORATION: underline
}
A.Body {
	COLOR: #003366; TEXT-DECORATION: none
}
A.Body:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.Discreet {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Discreet:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.Caption {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Caption:hover {
	COLOR: #ffd800; TEXT-DECORATION: underline
}
IMG {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
P.Category {
	MARGIN-TOP: 6px; FONT-SIZE: 14px; MARGIN-LEFT: 3px
}
LI.Menu {
	MARGIN-BOTTOM: 10px
}
HR.ThinBlue {
	COLOR: #00c0ff; HEIGHT: 1px
}
