BODY {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
TD {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
TH {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
DIV {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
TABLE {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
P {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
SPAN {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
LI {
	FONT-FAMILY: arial,verdana,helvetica,lucida,sans-serif
}
H1 {
	FONT-FAMILY: arial,helvetica,verdana,lucida,sans-serif
}
H2 {
	FONT-FAMILY: arial,helvetica,verdana,lucida,sans-serif
}
H3 {
	FONT-FAMILY: arial,helvetica,verdana,lucida,sans-serif
}
H4 {
	FONT-FAMILY: arial,helvetica,verdana,lucida,sans-serif
}
H5 {
	FONT-FAMILY: arial,helvetica,verdana,lucida,sans-serif
}
H6 {
	FONT-FAMILY: arial,helvetica,verdana,lucida,sans-serif
}
BODY {
	BACKGROUND-COLOR: white; COLOR: black; MARGIN-TOP: 2px
}
A:link {
	COLOR: #0000cc
}
A:visited {
	COLOR: #551a8b
}
A:active {
	COLOR: #ff0000
}
A.navbutton {
	BACKGROUND-COLOR: #f7ebc6; BORDER-BOTTOM: #ddad08 1px solid; BORDER-LEFT: #ddad08 1px solid; BORDER-RIGHT: #ddad08 1px solid; BORDER-TOP: #ddad08 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
H1 TD {
	FONT-SIZE: 0.95em; FONT-WEIGHT: bolder
}
H1 TD {
	BACKGROUND-COLOR: #ddad08; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; COLOR: #ffffff; PADDING-BOTTOM: 2pt; PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt; PADDING-TOP: 2pt
}
H3 {
	MARGIN: 2px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
H4 {
	MARGIN-BOTTOM: 2px
}
DIV.errorbox-good {
	
}
DIV.errorbox-bad {
	BORDER-BOTTOM: red 2px solid; BORDER-LEFT: red 2px solid; BORDER-RIGHT: red 2px solid; BORDER-TOP: red 2px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
DIV.errorheader {
	COLOR: red; FONT-WEIGHT: bold
}
DIV.errormsg {
	COLOR: red
}
FONT.errormsg {
	COLOR: red
}
.footer {
	COLOR: #666666
}
.gray {
	COLOR: #aaaaaa
}
DIV.buttonborder {
	BORDER-BOTTOM: #ddad08 2px solid; BORDER-LEFT: #ddad08 2px solid; BORDER-RIGHT: #ddad08 2px solid; BORDER-TOP: #ddad08 2px solid; WIDTH: auto
}
UNKNOWN {
	FONT-WEIGHT: bold
}
SELECT:unknown {
	BACKGROUND-COLOR: #ffffee
}
TEXTAREA:unknown {
	BACKGROUND-COLOR: #ffffee
}
INPUT:unknown {
	BACKGROUND-COLOR: #ffffee
}
.todo {
	BACKGROUND-COLOR: #ffeeff; COLOR: #880088
}
DIV.todo {
	BORDER-BOTTOM: #440044 2px groove; BORDER-LEFT: #440044 2px groove; BORDER-RIGHT: #440044 2px groove; BORDER-TOP: #440044 2px groove
}
UNKNOWN {
	BACKGROUND-COLOR: #ffeeff! important; COLOR: #000000! important; TEXT-DECORATION: none
}
